<div class="scroll-container">

  <img src="/assets/HFMN_logo.png" alt="">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="form" *ngIf="!isLoading">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" cdkFocusInitial>
        <mat-hint style="color: red;" *ngIf="form.get('name').errors && form.get('name').hasError('required')">* Name ist leer.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="mail" cdkFocusInitial>
        <mat-hint style="color: red;" *ngIf="form.get('mail').errors && form.get('mail').hasError('required')">* E-Mail ist leer oder fehlerhaft.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Anliegen</mat-label>
        <textarea matInput formControlName="content" cdkFocusInitial></textarea>
      </mat-form-field>

      <div class="privacy">
        <mat-checkbox formControlName="privacy" color="primary">AGB's und Datenschutz akzeptieren.</mat-checkbox>
        <mat-hint style="color: red;" *ngIf="form.get('privacy').errors && form.get('privacy').hasError('required')">*
          AGB's und Datenschutz akzeptieren.</mat-hint>
      </div>
    </form>

    <div class="accept">
      <button mat-raised-button color="warn" (click)="cancel()" [disabled]="isLoading">
        Abbrechen
      </button>
      <div class="spacer"></div>
      <button mat-raised-button color="primary" [disabled]="form.invalid || isLoading" (click)="send()">
        Absenden
      </button>
    </div>
  </div>
  js@hofmann-gmbh.com
</div>